form {
  @media screen and (min-width: 768px) {
    width: 50%;
    margin: auto;
  }

  padding: 77px 15px 33px;
  h1 { text-align: center; }
  mat-form-field { width: 100%; }
  button { width: 100%; }
}
