.user {
  padding: 20px;
  font-size: 20px;
  border-bottom: 1px grey solid;
  cursor: pointer;

  @media screen and (min-width: 768px) {
    width: 50%;
    margin: 1px auto;
    border: 1px grey solid;
  }
}

.loading {
  padding: 10px;
  font-size: 20px;
}
